<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="https://www.sanchitkarve.com/" version="1.0.0-0">
	<name>Facebook Redirect Fixer</name>
	<description xml:lang="en">Insert Description about redirect fixer.</description>
  	<author href="https://www.sanchitkarve.com" email="write2sanchit@gmail.com">Sanchit Karve</author>
  	<icon src="icons/logo_64.png"/>	
	<license href="http://www.opensource.org/licenses/MIT" />	
</widget>